#cart_card {
    width: 100%;
    @include flexBoxify(row, center, space-between);
    padding: 1rem;
    border: 1px solid $accent-gray-font;
    margin-top: 30px;
    border-radius: 0.8rem;
}

.cart_image_container {
    width: 30%;
}

.cart_image {
    min-height: 120px;
    max-width: 150px;
    background: url('../../../public/images/dummy-image.png') no-repeat center / cover;
}


.cart_info_box {
    min-height: 120px;
    width: 70%;
    @include flexBoxify(column, center, flex-start);

    .percent_off {
        color: $accent-red;
    }
}

.cart_top {
    width: 100%;
    @include flexBoxify(column, center, center);
}

.cart_row {
    margin-bottom: 10px;
    width: 100%;
    @include flexBoxify(row, center, space-between);
    .small_alert {
        margin-bottom: 0;
    }
}

.cart_discount {
    @include flexBoxify(row, center, center);
}

.cart_title {
     font-weight: 700;
}

.cart_item_name {
    color: $accent-red;
}

.counter {
    @include flexBoxify(row, center, center);
}

.counter_button {
    height: 20px;
    width: 20px;
    background-color: $accent-red;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.counter_num {
    height: 20px;
    width: 20px;
    border: 1px solid $accent-gray-font;
    @include flexBoxify(row, center, center);
    border-radius: 2px;
    margin: 0 10px;
}