#input_field {
    margin-bottom: 40px;
    .text_box{
        font-style: normal;
        width: 100%;
    }
}

.input_title {
    font-weight: 500;
    color: $accent-gray-font-dark;
    margin-bottom: 15px;
}