#product_card {
    width: 255px;
    // min-width: 260px;
    @include flexBoxify(column, center, center);
    background-color: $accent-gray;
    border-radius: 0.2rem;

}

.product_image {
    min-height: 190px;
    width: 100%;
    // background: url('../../../public/images/vr.png') no-repeat center / cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.25rem;
    background-size: 75%;
}

.product_sub_title {
    font-size: 1rem;
}

.product_info_box {
    padding: 1rem;
    width: 100%;
    @include flexBoxify(column, flex-start, flex-start);



}

.product_title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 800;
    color: $accent-gray-font-dark;
    justify-self: flex-start;
}

.product_desc {
    width: 100%;
    font-size: 1rem;
    color: #868686;
    margin-bottom: 1rem;
    font-weight: 500;
}

.product_discount {
    width: 100%;
    @include flexBoxify(row, center, flex-start);
}

.eliminated_price {
    font-size: 16px;
    color: $accent-gray-font;
    margin-right: 10px;

    span {
        text-decoration: line-through;
    }
}

.percent_off {
    color: $accent-green;
    font-weight: 500;
}

.product_price {
    font-weight: 700;
    font-size: 20px;
}

.product_lower {
    width: 100%;
    @include flexBoxify(row, center, space-between);
    margin-top: 0.6rem;
}