@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

button {
    border: none;
    background-color: transparent;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    @include flexBoxify(row, center, center);
    width: 88%;
    margin: 0 auto;
    max-width: 1400px;
}

.general_button {
    transition: 0.3s ease all;
    cursor: pointer;
    height: 40px;
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0.3rem;
    border: 2px solid $accent-gray-font-dark;
    color: $accent-gray-font-dark;
    background-color: transparent;

    &:hover {
        background-color: $accent-gray-font-dark;
        color: white;
    }
}

.general_button_1 {
    transition: 0.3s ease all;
    cursor: pointer;
    height: 40px;
    min-width: 180px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0.2rem;
    border: none;
    color: $accent-gray-font-dark;
    background-color: transparent;

    @include flexBoxify(row, center, flex-end);

    &:hover {
        background-color: $accent-gray-font-dark;
        color: white;
        @include flexBoxify(row, center, center);
    }
}

.general_button_2 {
    transition: 0.3s ease all;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 0.5em 1.1em;
    border-radius: 0.2rem;
    border: 1px solid $accent-gray-font-dark;
    color: $accent-gray-font-dark;
    background-color: transparent;

    &:hover {
        background-color: $accent-gray-font-dark;
        color: white;
    }
}

.nav_button {
    background: none;
    color: $accent-gray-font-dark;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.text_box {
    height: 40px;
    outline: none;
    font-size: 16px;
    padding: 0 1rem;
    font-style: italic;
    border: none;
    border-radius: 0.3rem;
    border: 1px rgb(177, 177, 177) solid;
}

.section_title {
    font-size: 32px;
    color: $accent-gray-font-dark;
    font-weight: 900;
}

.sub_title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px $accent-gray-font solid;
}