#product_listing_page {

    margin-top: 3rem;

    .container {
        @include flexBoxify(column, center, center);
        margin-top: 50px;
        margin-bottom: 80px;
    }
}

.list_heading_sorting {
    width: 100%;

    @include flexBoxify(row, center, space-between);
}

.sort_box {
    width: 30%;
    @include flexBoxify(row, center, center);

    .small_alert {
        width: 40%;
        margin-bottom: 0;
    }
}

.product_name {
    font-size: 18px;
    font-weight: 500;
    color: $accent-gray-font-dark;
}

.product_cards {
    @include flexBoxify(row, center, center);
}

.cards_container {
    margin-top: 4rem;
    margin-bottom: 40px;
    @include flexBoxify(row, center, space-between);
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 15px;
}

.pag_box {
    width: 100%;
    @include flexBoxify(row, center, center);
}

.MuiPagination-ul {
    @include flexBoxify(row, center, center);
}

.empty_image {
    @include flexBoxify(row, center, center);

    img {
        max-width: 50%;
    }
}